<aside>
    <nav class="sidebar">
        <ul>
            {%assign categories = {{page.category|split:'/'}} %}
            {%assign nav_type={{categories[0]}}%}
            {{site.data.navs}}
            {{nav_type}}
            {% for nav_ in  site.data.navs %}
                {%if nav_[0] == nav_type%}
                    {% for config in nav_[1] %}
                        <li class="item-{{ config.type }}">
                            {% if (config.url) %}
                            <a href="{{ config.url }}">
                                {{ config.title }}
                            </a>
                            {% else %}
                            <span>
                                {{ config.title }}
                            </span>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    <div class="bottom-shadow"></div>
</aside>