<aside>
    <nav class="sidebar">
        <ul>
            {%assign categories = {{page.category|split:'/'}} %}
            {%assign nav_type={{categories[0]}}%}

            {%if nav_type == "fis-plus"%}
                {%assign nav_ = site.data.fis-plus%}
            {%elsif nav_type == "yogurt"%}
                {%assign nav_ = site.data.yogurt%}
            {%elsif nav_type == "jello"%}
                {%assign nav_ = site.data.jello%}
            {%elsif nav_type == "gois"%}
                {%assign nav_ = site.data.gois%}
            {%elsif nav_type == "pure"%}
                {%assign nav_ = site.data.pure%}
            {%endif%}

            {{nav_}}
            
            {% for config in nav_ %}
                <li class="item-{{ config.type }}">
                    {% if (config.url) %}
                    <a href="{{ config.url }}">
                        {{ config.title }}
                    </a>
                    {% else %}
                    <span>
                        {{ config.title }}
                    </span>
                    {% endif %}
                </li>
            {% endfor %}

        </ul>
    </nav>
    <div class="bottom-shadow"></div>
</aside>